set clipboard=unnamed
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
nnoremap <C-Left> :action Back<CR>
nnoremap <C-Right> :action Forward<CR>
